@use "variables";

*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body{
    font-family: "Epilogue", sans-serif;
    font-size: 18px;
    line-height: 155%;
    position: relative;
    min-height: 100vh;
    background-color: variables.$gray50;
    // overflow-x: hidden;
}
ul,li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
button{
    background-color: transparent;
}

.menu-link:focus-visible,
.button-menu_login:focus-visible,
.button-menu_register:focus-visible,
.block-hero_button:focus-visible,
.dropdown-features_link:focus-visible,
.dropdown-company_link:focus-visible,
.burger:focus-visible {
    outline: 2px solid #151515;
    outline-offset: 4px;
}