@use "variables";

.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    min-height: 100vh;

}
.container{
    max-width: 1175px;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    max-width: 1388px;
    padding: 0 15px;
    min-height: 42px;
    margin-top: 21px;
    display: flex;
    align-items: center;
    position: relative;
}
.header-logo{
    width: 83px;
    height: 26px;
    img{
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
    }
}
.menu{
    margin-left: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: variables.$white;
    
}
.menu-list{
    display: flex;
    align-items: center;
    gap: 40px;
}
.menu-link, .button-menu_login, .button-menu_register{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    line-height: 115%;
    letter-spacing: 0px;
    color: variables.$gray500;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-weight: 500;
    &:hover{
        color: variables.$gray950;
    }
}

.menu-buttons{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 40px;
    
}

.button-menu_register{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 104px;
    height: 42px;
    border: 2px solid variables.$gray500;
    border-radius: 10px;
    &:hover{
        border: 2px solid variables.$gray950;
    }
}
.burger{
    display: none;
}

@media (max-width:767.98px) {
    .menu{
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        width: 64%;
        transform: translateX(180%);
        transition: all 0.3s ease 0s;
        flex-direction: column;
        padding: 80px 48px 32px;
        margin-left: 0;
        z-index: 2;
    }
    .menu-buttons{
        flex-direction: column;
        margin-left: 0;
        width: 100%;
        gap: 16px;
    }
    .button-menu_register{
        width: 100%;
    }
    .burger{
        display: block;
        position: relative;
        z-index: 10;
        width: 32px;
        height: 18px;
        margin-left: auto;
        background-color: transparent;
        & span{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            width: 32px;
            height: 2px;
            background-color: variables.$gray500;
            transition: all 0.3s ease 0s;
            &::before{
                content: "";
                position: absolute;
                top: -10px;
                left: 0;
                width: 32px;
                height: 2px;
                background-color: variables.$gray500;
                transition: all 0.3s ease 0s;
            }
            &::after{
                content: "";
                position: absolute;
                top: 10px;
                left: 0;
                width: 32px;
                height: 2px;
                background-color: variables.$gray500;
                transition: all 0.3s ease 0s;
            }
        }
    }
    .burger.active span{
        background-color: transparent;
        &::before{
            top: 0;
            transform: rotate(45deg);
        }
        &::after{
            top: 0;
            transform: rotate(-45deg);
        }
    }
    .menu.active{
        // display: block;
        transform: translateX(0);
        
    }
    // .menu.active.menu::before{
    //     content: "";
    //     position: fixed;
    //     top: 0;
    //     left: 0;
    //     bottom: 0;
    //     width: 36%;
    //     background-color: variables.$gray500;
    //     opacity: 0.2;
    // }
    .menu-overlay {
        position: fixed;
        inset: 0;
        width: 36%;
        background-color: rgba(0, 0, 0, 0.5);

        opacity: 0;
        visibility: hidden;

        transition:
            opacity 0.3s ease,
            visibility 0.3s ease;
    }
    .menu.active .menu-list{
        display: flex;
        flex-direction: column;
        margin-right: auto;
       
        align-items: flex-start;
    }
        .menu-overlay.active {
        opacity: 1;
        visibility: visible;
    }


}

@media (max-width: 508px) {
    
    .menu.active{
        width: 70%;
    }
    .menu.active{
        padding: 80px 32px;
    }
    // .menu.active.menu::before{
    //     width: 30%;
    // }
    
}

// =====================================

.link-dropdown_features{
    position: relative;
}

.features-dropdown_menu{
    position: absolute;
    left: 80px;
    top: 40px;
    max-width: 153px;
    min-height: 160px;
    padding: 24px;
    background-color: variables.$white;
    border-radius: 15px;
    box-shadow: 3px 10px 16px 1px #3333335b;
    display: flex;
    flex-direction: column;
    gap: 16px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease 0s;
}
.dropdown-features_link{
    display: flex;
    align-items: center;
    gap: 16px;
}
.dropdown-features_img{
    width: 16px;
    height: 16px;
    img{
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
    }
}
.dropdown-features_text{
    font-size: 14px;
    line-height: 155%;
    letter-spacing: 0px;
    color: variables.$gray500;

}

.features-dropdown_menu.active{
    visibility: visible;
    opacity: 1;
}

@media (max-width:767.98px) {
    .features-dropdown_menu{
        position: static;
        display: none;
    }
    .features-dropdown_menu.active{
        display: flex;
        box-shadow: none;
        flex-direction: column;
        gap: 16px;
        background-color: transparent;
    }
    .menu-list{
        gap: 16px;
    }
    .menu {
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.link-dropdown_company{
    position: relative;
}
.company-dropdown_menu{
    position: absolute;
    box-shadow: 3px 10px 16px 1px #3333335b;
    background-color: variables.$white;
    border-radius: 10px;
    top: 40px;
    max-width: 116px;
    min-height: 126px;
    display: flex;
    padding: 24px;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease 0s;
}
.dropdown-company_link{
    font-size: 14px;
    line-height: 115%;
    letter-spacing: 0px;
    color: variables.$gray500;
}


.company-dropdown_menu.active{
    visibility: visible;
    opacity: 1;
}

@media (max-width: 767.98px) {
    .company-dropdown_menu{
        position: static;
        display: none;
    }
    .company-dropdown_menu.active{
        display: flex;
        box-shadow: none;
        background-color: transparent;
        padding: 16px;
    }
}
@media (max-width: 424.98px) {
    
}

// =============================================

.hero{
    margin-top: 75px;
    margin-bottom: 122px;
    display: flex;
    gap: 125px;

}
.hero-image{
    width: 480px;
    height: 640px;
    overflow: hidden;
    img{
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
    }
}

.hero-content{
    align-self: flex-end;
    flex: 0 1 540px;
    display: flex;
    flex-direction: column;
    gap: 111px;
}
.content-hero_block{
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.block-hero_title{
    font-size: 80px;
    line-height: 100%;
    letter-spacing: -1px;
    font-weight: 700;
    color: variables.$gray950;

}
.block-hero_text{
    font-size: 18px;
    line-height: 155%;
    letter-spacing: -0.25px;
    font-weight: 500;
    color: variables.$gray500;
}
.block-hero_button{
    width: 163px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: variables.$gray950;
    color: variables.$gray50;
    border-radius: 10px;
    font-size: 18px;
    line-height: 155%;
    font-weight: 700;
    letter-spacing: -0.25px; 
    transition: all 0.7s ease 0s;
    &:hover{
        border: 1px solid variables.$gray950;
        color: variables.$gray950;
        background-color: variables.$gray50;
    }
}

.content-hero_clients{
    display: flex;  
    align-items: center;
    gap: 40px;
}

@media (max-width: 1023.98px) {
    .hero{
        gap: 48px;
        margin-top: 32px;
        margin-bottom: 51px;
        flex-direction: column-reverse;
    }
    .container{
        padding: 0;
    }
    .hero-image{
        width: 100%;
        height: 576px;
    }
    .hero-content{
        flex: none;
        max-width: 676px;
        margin: 0 auto;
        gap: 56px;
    }
    .content-hero_clients{
        margin: 0 auto;
    }
    .content-hero_block{
        align-items: center;
    }
    .block-hero_title{
        font-size: 64px;
        line-height: 100%;
        letter-spacing: -1px;
        text-align: center;
    }
    .block-hero_text{
        text-align: center;
    }
    // .clients-hero_img{
    //     max-width: ;
    // }
}
@media (max-width: 481px) {
    .hero-content{
        gap: 48px;
        padding: 0 15px;
    }
    .hero-image{
        height: 281px;
    }
    .content-hero_block{
        gap: 24px;
    }
    .block-hero_title{
        font-size: 36px;
        line-height: 100%;
        letter-spacing: -1px;
    }
    .block-hero_text{
        font-size: 16px;
        line-height: 155%;
        letter-spacing: -0.25px;
    }
    .content-hero_clients{
        gap: 24px;
    }
    .clients-hero_img{
        max-width: 85px;
        height: 14px;
        img{
            width: 100%;
            height: auto;
            display: block;
            object-fit: cover;
        }
    }
    .block-hero_button{
        width: 136px;
        height: 48px;
        font-size: 16px;
        line-height: 155%;
        letter-spacing: -0.25px;
    }
}
.menu{
    background-color: variables.$gray50;
}