$white: #fff;
$black: #000;

$gray950: #151515;
$gray500: #686868;
$gray400: #ADADAD;
$gray200: #D8D8D8;
$gray50: #FAFAFA;

$blue400: #4BB1DA;

$violet500: #726CEE;

$yellow300: #EDD556;

$purple600: #8E4CB6;